@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  box-sizing: border-box;
}


#root  {
  max-width: 1920px;
  margin: 0 auto;
  height: 100vh;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}